@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(255, 255, 255);
    color: black;
    font-size: 15px;
    line-height: 1.5;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    font-size: 2.5em;
    color: #333; /* Adjust color as needed */
    margin-bottom: 20px; /* Adjust spacing as needed */
}

#about-us {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f4f4f4;
    padding: 20px;
}

.about-content {
    flex: 1;
    text-align: left;
    font-size: x-small;
}

.about-image {
    padding: 30px;
    flex: 1;
    text-align: right;
}

#about-us h1 {
    color: #333;
}

#about-us p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #555;
}

#about-us img {
    max-width: 100%;
    height: auto;
}

.alin {
    text-align: justify;
}

.showcase02 {
    padding: 10px 20px;
    background: linear-gradient(135deg, rgba(57, 57, 57, 0.7), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    box-shadow: 5px 10px 15px rgba(255, 255, 255, 0.2);
    /* border-radius: 15px; */
    box-shadow: 1px 1px 8px rgb(255, 255, 255);
}


.container {
    width: 95%;
    margin: auto;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
}

.main-nav .logo {
    width: 150px;
}

.main-nav ul {
    display: flex;
}

.main-nav ul li {
    padding: 0 10px;
}

.main-nav ul.main-menu {
    flex: 1;
    margin-left: 40px;
}

.main-menu li a {
    color: #333; /* Default text color */
    transition: color 0.3s, text-shadow 0.3s; /* Smooth transition effect */
}

.main-menu li a:hover {
    color: #e1a900ee; /* Change text color on hover */
    text-shadow: 0 0 10px #e1a900ee; /* Add a subtle glow effect on hover */
}

.main-menu li {
    font-size: 20px;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: black;
    color: white;
    font-size: 15px;
}

.btn:hover {
    opacity: 0.7;
}

.install {
    margin-top: 10px;
}

.dark {
    color: #fff;
}

.dark .btn {
    background: #f4f4f4;
    color: #333;
}

.showcase {
    width: 100%;
    height: 400px;
    background: url('img/pos03.1.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.showcase h2, .showcase p {
    margin-bottom: 10px;
}

.showcase .btn {
    margin-top: 5px;
}

.home-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
}

.home-cards img {
    width: 100%;
    height: 180px;
    margin-bottom: 20px;
}

.home-cards .logo {
    width: 100%;
    height: 10px;
    margin-bottom: 20px;
}

.home-cards h3 {
    margin-bottom: 5px;
}

.home-cards a {
    display: inline-block;
    padding-top: 10px;
    color: #0067b8;
    text-transform: uppercase;
    font-weight: bold;
}

.home-cards a:hover {
    background-color: #f4f4f4;
    border-bottom: 1px solid #3498db;
}

.client img {
    width: 180px;
    height: 150px;
    margin-bottom: 20px;
}

.home-cards p {
    text-align: justify;
}

.xbox {
    color: #f4f4f4;
    width: 100%;
    height: 350px;
    background: url('img/install02.1.png') no-repeat center center/cover;
    margin-bottom: 20px;
}

.xbox .content {
    width: 40%;
    padding: 50px 0 0 30px;
}

.carbon {
    color: #f4f4f4;
    width: 100%;
    height: 350px;
    background: url('img/showcase4.png') no-repeat center center/cover;
}

.carbon .content {
    width: 40%;
    padding: 100px 0 0 40px;
}

.follow {
    padding: 20px 20px 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0;
}

.follow * {
    margin-left: 5px;
}

.fb {
    height: 30px;
    width: 30px;
}

.links {
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
}

.links-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.links li {
    line-height: 2.8;
}

#contact-us {
    background-color: #f4f4f4;
    padding: 50px 20px;
    text-align: center;
}

#contact-us h1 {
    color: #333;
    margin-bottom: 30px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.contact-form label {
    position: relative;
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #555;
    text-align: left;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s ease-in-out;
}

.contact-form input:focus,
.contact-form textarea:focus {
    background-color: #ecf0f1;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    background-color: #e1a900ee;
    color: #fff;
    padding: 15px 20px;
    margin: 15px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.contact-form button:hover {
    background-color: #c18d00;
    border-color: #555;
    color: #fff;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.contact-form label,
.contact-form input,
.contact-form textarea,
.contact-form button {
    animation: fadeInUp 0.8s ease-in-out;
}

.footer {
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
}

.footer-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer div {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.footer div i {
    margin-right: 10px;
}

.footer ul {
    display: flex;
    flex-wrap: wrap;
}

.footer li {
    margin-right: 30px;
    margin-bottom: 20px;
}

.footer ul li a {
    text-decoration: none;
    color: #616161; /* Default link color */
}

.footer ul li a:hover {
    color: #e1a900ee;
}
